*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body{
  margin: 0;
}

.container
{
  max-width: 1199px;
  margin:0 auto;
}
.todo
{
	min-height: 100vh;

  background: transparent;
	background: grey;
	background: -webkit-linear-gradient(#9d9e9d, #ecece9, #9d9e9d);
	background: -o-linear-gradient(#9d9e9d, #ecece9, #9d9e9d);
	background: -moz-linear-gradient(#9d9e9d, #ecece9, #9d9e9d);
	background: linear-gradient(#E4E6B9, #f3f79e, #E4E6B9);
	background-color: #E4E6B9;
}
.main-todo
{
	text-align: center;
  background: transparent;
  box-shadow: 5px 5px 40px gray;
	border-radius: 10px;
}

.main-todo form{

    padding: 18px 0;
}

.main-todo form input[type = "text"]{
  padding: 10px 180px;
	color: #44423a;
	font-weight: bold;
	border-radius: 10px;
}

.main-todo form input[type = "submit"]{
  padding:13px 90px;
  background: #d0bd72;
	text-indent: 5px;
	border-radius: 10px;
}
.todoNode
{
  background: #CB7;
  height: 115px;
  margin-top: 15px;
  box-shadow: 5px 5px 40px gray;
  width: 85%;
  margin-left: 70px;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	min-height: 200px;
}


.todoNode .todoNode_taskNumber
{
  width: 25px;
  height: 25px;
  margin-left: 15px;
  margin-top: 15px;
  float: left;
  text-align: center;
	color: #97853d;
  font-size: -webkit-xxx-large;
  margin: 26px 0 0 18px;

}
.todoNode img,
.todoNode .btn-delete img
{
  width: 30px;
  height: 30px;
  float: right;
	margin: 0 16px 0 0;
}
.todoNode  img[alt="pen"]{
  margin-right: 5px;
  margin-top: 5px;
	width: 25px;
	height: 25px;
}


.todoNode .btn-check {
	padding: 1.7rem;
    float: right;
    border-radius: 50%;
    margin-top: 28px;
    background: #FF7043;
    margin-right: 60px;
    box-shadow: 2px 2px 5px grey;
    border: none;
}

.todoNode .btn-delete
{
	float: right;
	width: 40px;
	height: 40px;
	background: transparent;
	border:none;
	margin: 160px -110px 0 0;
}
.todoNode .description
{
	text-align: center;
	display: block;
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
		font-size: 30px;
    color: #44423a;
		width: 60%;
		word-wrap: break-word;
}

.btn-delete
{
	margin: 55px -95px 0 0
}

.item-checked{
	background:#a59557;
	    height: 115px;
	    margin-top: 10px;
	    box-shadow: 5px 5px 40px grey;
	    width: 85%;
	    margin-left: 70px;
	    border-radius: 10px;
}
.btn-checked{
	background-color: #883c24 !important;

}
.description_done{
	text-decoration: line-through;
}

.main-todo ::after{
	content: '';
	display: block;
	clear: both;
}





@media (max-width:1366px) {



  .main-todo form{

      padding: 18px 0;
  }

	.todoNode .btn-checked{
background-color: #883c24 !important;

}
	.todoNode
	{
	  background: #CB7;
	  height: 115px;
	  margin-top: 15px;
	  box-shadow: 5px 5px 40px gray;
	  width: 85%;
	  margin-left: 70px;
		border-radius: 10px;
		position: relative;
		overflow: hidden;
		min-height: 200px;
	}

  .main-todo form input[type = "text"]{
    padding:12px 0 12px 5px;
		margin-left: -55px;
		width: 600px;
		border-radius: 10px;
  }

	.todoNode .description
	{
		text-align: center;
		display: block;
		position: absolute;
	    left: 50%;
	    top: 50%;
	    transform: translate(-50%,-50%);
			font-size: 30px;
	    color: #44423a;
			width: 60%;
			word-wrap: break-word;
	}


.todoNode {
    background: #a59557;
    height: 115px;
    margin-top: 15px;
    box-shadow: 5px 5px 40px grey;
    width: 85%;
    margin-left: 70px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    min-height: 200px;
}
  .main-todo form input[type = "submit"]{
    padding:13px 90px;
    background: #d0bd72
		border:none;
		box-shadow: 2px 2px 5px darkslategrey;
		border-radius: 10px;
  }

}


@media (max-width:1105px) {
	body{
	  margin: 0;
		background-image: url('images/Frozen.jpg');
		background-size: cover;
		background-repeat: no-repeat;

	}
	#todo-container{
		padding: 0 15px;
	}
  .container{
    width: 100%;
  }
  .main-todo
  {
    margin: 0 auto;
    background: transparent;
    box-shadow: 5px 5px 40px gray;
  }

  .main-todo form{
      margin: 0 0 0 60px;
      padding: 18px 0;
  }

  .main-todo form input[type = "text"]{
    padding: 12px 0 14px 5px;
    float: left;
    margin-left: -10px;
    width: 65%;
    margin-right: 5px;
		border-radius: 10px;
  }

  .main-todo form input[type = "submit"]{
    padding:13px 0px;
    background: #d0bd72
    float: left;
    width: 34%;
		border-radius: 10px;
  }

  .todoNode
  {
    background: #CB7;
    height: 115px;
    margin-top: 10px;
    box-shadow: 5px 5px 40px gray;
    width: 100%;
    margin-left: 0px;
		overflow: hidden;
		min-height: 200px;
  }
	.item-checked {
    background: #a59557;
    height: 115px;
    margin-top: 15px;
    box-shadow: 5px 5px 40px grey;
    width: 100%;
    border-radius: 10px;
}
.todoNode .description
{
	text-align: center;
	display: block;
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
		font-size: 30px;
    color: #44423a;
		width: 60%;
		word-wrap: break-word;
}

}


@media (max-width:835px) {
	body{
	  margin: 0;
		background-image: url('images/Frozen.jpg');
		background-size: cover;
		background-repeat: no-repeat;

	}
  .container{
    width: 100%;
  }
  .main-todo
  {
    margin: 0 5px;
    background: transparent;
    box-shadow: 5px 5px 40px gray;
  }

  .main-todo form{
      margin: 0 0 0 45px;
      padding: 18px 0;
			position: relative;
  }

  .main-todo form input[type = "text"]{
    padding: 12px 5px;
    float: left;
    margin-left: -22px;
    width: 100%;
    margin-right: 0px;
  }

  .main-todo form input[type = "submit"]{
    padding:13px 0px;
    background: #d0bd72
    float: left;
    width: 70px;
		position: fixed;
		bottom: 20px;
		 border-radius: 50%;
		 height: 70px;
		 margin:-20px 0 0 -75px;
		 z-index: 9999999;
		 border:none
  }
  .todoNode
  {
		background: #CB7;
	    height: 115px;
	    margin-top: 10px;
	    box-shadow: 5px 5px 40px grey;
	    width: 100%;
	    margin-left: 0px;
			min-height: 200px;
			overflow: hidden;
  }

	.item-checked{
		background:#a59557;
		    height: 115px;
		    margin-top: 10px;
		    box-shadow: 5px 5px 40px grey;
		    width: 100%;
		    border-radius: 10px;
	}
	.btn-checked{
		background-color: #883c24;

	}
	.description_done{
		text-decoration: line-through;
	}

.todoNode .description{
	text-align: center;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 25px;
    color: #44423a;
		width: 60%;
		word-wrap: break-word;
}

.todoNode .btn-check {
    padding: 1.5rem;
    float: right;
    border-radius: 50%;
    margin-top: 5px;
    background: #FF7043;
    margin-right: 5px;
    box-shadow: 2px 2px 5px grey;
    border: none;

		right: 30px;
}
.todoNode .btn-delete {
    float: right;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    margin: 160px -60px 0 0;

		right: 90px;
	}
	.todoNode .todoNode_taskNumber {
    width: 25px;
    height: 25px;
    margin-left: -11px;
    margin-top: 15px;
    float: left;
    text-align: center;
    color: #97853d;
    font-size: -webkit-xxx-large;
    margin: -5px 0 0 5px;

}
}
